{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" >
        <a class="btn btn-primary" style="margin: 10px auto; display: block; width: 150px" href={{ path('create') }} >Crée un vol</a>
        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th>Numéro vol</th>
                <th>Vol</th>
                <th>Horaire</th>
                <th>Actions</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for vol in vols %}
                <tr>
                    <th>
                        {{ vol.numeroVol }}
                    </th>
                    <th>
                        {{ vol.depart }} / {{ vol.arrivee }}
                    </th>
                    <th>
                        {{ vol.horaire|date("d/m/y h:i", "Europe/Paris") }}
                    </th>
                    <th>
                        <a href="{{ path('edit', {"id": vol.id}) }}">Edition</a>
                    </th>
                    <th>
                        <a href="{{ path('delete', {"id": vol.id}) }}">Suppression</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row" style="margin-top: 10px">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}