{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
            {{ form_row(form.depart) }}
            {{ form_row(form.arrivee) }}
            {{ form_row(form.horaire) }}
            {{ form_row(form.places) }}
            {{ form_row(form.prix) }}
            {{ form_end(form) }}
        </div>
        <div class="row">
            {{ form_errors(form) }}
        </div>
        <div class="row" style="margin-top: 10px">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}