{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <table class="table table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>Numéro vol</th>
            <th>Départ</th>
            <th>Arrivée</th>
            <th>Horaire</th>
            <th>Prix</th>
            <th>Places</th>
            <th>Promo</th>
            <th>Complet</th>
        </tr>
        </thead>
        <tbody>
            {% for vol in vols %}
                <tr>
                  <th>
                      {{ vol.numeroVol }}
                  </th>
                    <th>
                        {{ vol.depart }}
                    </th>
                    <th>
                        {{ vol.arrivee }}
                    </th>
                    <th>
                        {{ vol.horaire|date("d/m/y h:i", "Europe/Paris") }}
                    </th>
                    <th>
                        {% if vol.promo == 1 %}

                            {% set promo = vol.prix * 95/100 %}
                            {{ promo|number_format }} €

                        {% else %}

                            {{ vol.prix }} €

                        {% endif %}
                    </th>
                    <th>
                        {{ vol.places }}
                    </th>
                    <th class="text-success">
                        {% if vol.promo == 1 %}
                            PROMO
                        {% endif %}
                    </th>
                    <th class="text-danger">
                        {% if vol.complet == 1 %}
                            COMPLET
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}